@model IEnumerable<Exchange_Art.Models.Art>


<table class="table">
    <thead>
        <tr>
            <th>
                Art Image
            </th>
            <th>
                Owner
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.ImageData);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <div class="media">
                    <img class="align-self-start mr-3 img-fluid" src="@imgSrc" alt="item.ImageTitle" width="192px" height="108px">
                    <div class="media-body">
                        <h5 class="mt-0">@item.ImageTitle</h5>
                    </div>
                </div>
            </td>
            <td>

            </td>
            <td>
                <a class="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>