@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@addTagHelper *, Exchange-Art
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<IdentityRole>

<h1 class="bg-dark text-white rounded text-center">All Roles</h1>

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <tr>
            <th>Role Name</th>
            <th>User(s) Part Of Role</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td i-role="@role.Id"></td>
                <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Update</a></td>
                <td>
                    <form asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

@{
    // Get UserName of logged in User
    var userName = this.User.FindFirstValue(ClaimTypes.Name);
    if (userName == "Admin")
    {
        <a asp-action="Create" class="btn btn-primary">Create A Role</a>
    }
    else
    {
        // Don't show "Create A Role" button
    }
}