@model IEnumerable<Exchange_Art.Models.Art>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Welcome</h1>
    <p>Exchange art with other <a asp-area="" asp-controller="Users" asp-action="Index">people</a> online.</p>
</div>

<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
        @{int j = 0;}
        @foreach (var item in Model)
        {
            j++;
            var active = j == 1 ? "active" : "";
            var base64 = Convert.ToBase64String(item.ImageData); // Convert byte[] imagedata to string
            var imgSrc = String.Format("data:image/gif;base64,{0}", base64); // Format imagedata string
            <div class="carousel-item @active">
                <img src="@imgSrc" alt="item.ImageTitle" width="1100" height="800" class="image-responsive">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.ImageTitle</h5>
                </div>
            </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>