@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>
    Your privacy is <b>not very</b> important to us.<br /><br />

    It is <b>Verkiel Developments</b>'s policy not to respect your privacy regarding any information we may collect from you across our website <b>www.exchange-art.com</b>, and other sites we own and operate. <br />
    <br />
    We ask for personal information because we can, but we don't need it when we provide a service to you.
    We collect it by unfair and unlawful means, without your knowledge and consent.
    We also doesn't let you know why we collect it and how it will be used.<br /><br />

    We retain collected information for as long as we deems it necessary and do not feel that we have to be transparent about that.
    What data we store, we’ll use for anything we can as long as their is a profit to be gained outside of commercially acceptable means even if that means the data is subject to theft or unauthorized access, disclosure, copying, misuse or modification.<br /><br />

    We will share any personally identifying information publicly or with third-parties, except when it is too obvious for the anyone to find out obviously.<br /><br />

    Our website may link to external sites that are not operated by us.<br />
    Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies. Nor do we care about that, to be honest.<br /><br />

    You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.<br /><br />

    Your continued use of our website will be regarded as acceptance of our malpractices around privacy and personal information.<br /><br />

    If you have any questions about how we handle user data and/or personal information, feel free to contact us, but we doubt you will get an answer that is satisfying to you.<br /><br />

    This policy is effective as of 2440587.5.
</p>
